body {
  background-color: white;
}

main {
  max-width: 600px;
  margin: 0 auto;
  background-color: #e8e8e8;
  border: 1px solid #c1c1c1;
}

#guesses .row {
  display: flex;
  min-height: 40px;
  border-bottom:1px solid #c1c1c1;
}

#guesses .peg-container {
  flex: 1;
  line-height: 40px;
  text-align: center;
}

#guesses .tips-container {
  flex: 2;
  line-height: 40px;
  text-align: center;
  border-left: 1px solid #c1c1c1;
  display: flex;
    box-sizing: border-box;
}

#guesses .tip {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin: auto;
}

.peg-container {
  flex: 1;
  /* background-color: grey; */
  box-sizing: border-box;
  /* border: 1px solid black; */
  display: flex;
}

#user-guess .empty-peg {
  background-color: #fff;
  box-shadow: inset 1px 1px 4px 1px rgba(0,0,0,0.34);
}

.peg {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin: auto;
}

#pegBox {
  display: flex;
  width: 66.66%;
  height: 60px;
}

.pegColor1 {
  background-color: #d34734;
}

.pegColor2 {
  background-color: #f7a33d;
}

.pegColor3 {
  background-color: #6f6193;
}

.pegColor4 {
  background-color: #47b1c1;
}

.pegColor5 {
  background-color: #4ad65b;
}

.pegColor6 {
  background-color: #f7d945;
}

.pegColor1, .pegColor2, .pegColor3, .pegColor4, .pegColor5, .pegColor6 {
  box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.42);
  border: 1px solid rgba(0,0,0,0.20);
}

#user-guess {
  display: flex;
  height: 60px;
  border-bottom: 1px solid #c1c1c1;
}

#user-guess .peg-container {
  flex: 1;
}

#user-guess .peg {
  margin: auto;
}

#user-guess .actions-container {
  box-sizing: border-box;
  flex: 2;
  border-left: 1px solid #c1c1c1;
}

.actions-container button {
  margin: auto;
  width: 100%;
  height: 100%;
  font-size: 1.4em;
}

.tip-match {
  background-color: black;
  border: 1px solid rgba(0,0,0,0.20);
}

.tip-partial {
  background-color: white;
  border: 1px solid rgba(0,0,0,0.20);
}

#messageBox p {
  margin: 0;
  padding: 12px;
}
