body {
  background-color: grey;
}

main {
  max-width: 600px;
  margin: 0 auto;
}

.row {
  display: flex;
  min-height: 40px;
  border-bottom:1px solid black;
}

#guessesContainer .peg, .correct, .correctColor {
  flex: 1;
  line-height: 40px;
  text-align: center;
}

/* .peg {
  background-color: lightblue;
} */

.correct {
  background-color: lightgreen;
}

.correctColor {
  background-color: yellow;
}

#userGuess .control {
  flex: 2;
}

#userGuess .peg input {
  width: 100%;
  box-sizing: border-box;
}

#ui, #pegBox {
  width: 600px;
  margin: 0 auto;
}

#ui {
  display: flex;
  height:60px;
}

.pegContainer {
  flex: 1;
  background-color: grey;
  box-sizing: border-box;
  border: 1px solid black;
  display: flex;
}

.emptyPeg {
  background-color: #fff;
}

#ui .control {
  flex: 2;
  background-color: lightblue;
}

.peg {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin: auto;
  border:1px solid grey;
}

#pegBox {
  display: flex;
}

.pegColor1 {
  background-color: yellow;
}

.pegColor2 {
  background-color: red;
}

.pegColor3 {
  background-color: green;
}
