main {
  max-width: 600px;
  margin: 0 auto;
}

.row {
  display: flex;
  min-height: 40px;
  border-bottom:1px solid black;
}

.peg, .correct, .correctColor {
  flex: 1;
  line-height: 40px;
  text-align: center;
}

.peg {
  background-color: lightblue;
}

.correct {
  background-color: lightgreen;
}

.correctColor {
  background-color: yellow;
}

#userGuess .control {
  flex: 2;
}

#userGuess .peg input {
  width: 100%;
  box-sizing: border-box;
}
